.button {
  height: 42px;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 30px;
  transform: translateY(0);
  transition: all 150ms ease;
}

.primary {
  color: white;
  background-color: var(--color-primary);
  border: 0;
}

.transparent {
  border: 2px solid #d4d4d4;
  background-color: transparent;
}

.withIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button:hover {
  transform: translateY(-3px);
}

.primary:hover {
  box-shadow: 0 6px 6px 0px #65288842;
}

.transparent:hover {
  box-shadow: 0 6px 3px 0px #c7c7c74d;
}
