/* All of these values are placeholder */
/* while the design is being worked on */

.xs {
  font-size: 14px;
}

.sm {
  font-size: 18px;
}

.md {
  font-size: 22px;
}

.lg {
  font-size: 32px;
}

.xl {
  font-size: 48px;
}

.lg {
  font-size: 54px;
}

.xl {
  font-size: 64px;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

.color-primary {
  color: var(--color-primary);
}

.color-gray {
  color: var(--color-text);
}

.color-muted {
  color: var(--color-muted);
}

.color-white {
  color: white;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
