.section {
  margin-top: 90px;
  padding: 0 18px;
}

.heading {
  margin: 12px 0 13px 0;
}

.copy {
  margin-bottom: 15px;
}

.actions {
  gap: 10px;
  display: flex;
  align-items: center;
}

.numbers {
  gap: 30px;
  display: flex;
  margin-top: 40px;
}

.image {
  margin-top: 50px;
  width: 100%;
  max-width: 100%;
}
